version: '3.8'

services:
  database:
    image: postgres:15-alpine
    container_name: capacita_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: capacita_dc_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: